.plans{
    margin-top: 110px;
    width: 100vw;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    padding-bottom: 20px;
}

.plan{
    width: 380px;
    min-height: 420px;
    height: fit-content;
    background: #fff;
    /* margin-left: 100px; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    position: relative;
    margin-bottom: 20px;
    transition: all .4s ease;
    z-index: 0;
    flex-direction: column;
    align-items: center;
}


.plan .banner{
    position: absolute;
    top: -10px;
    left: 10px;
    width: 150px;
    height: 50px;
    /* background: red; */
}

.plan .banner::before{
    content: '50% Off';
    width: 130%;
    height: 40px;
    background: #930fff;
    background: linear-gradient(45deg, #930fff 50%, #570a96);
    color: #fff;
    transform: rotate(-45deg) translate(-60px, -30px);
    position: absolute;
    top: 45%;
    display: flex;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.plan .banner::after{
    content: '';
    background: #3f0073;
    position: absolute;
    bottom: -96px;
    left: -20px;
    width: 10px;
    height: 10px;
    z-index: 0;
}

.plan h2{
   margin-top: 70px;
   color: #585858;
   font-size: 28px;
}

.plan .price{
    display: flex;
    margin-top: 30px;
    font-size: 34px;
    color: #930fff;
}

.plan .digit{
    color: #930fff;
}

.plan .features{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.plan .feature{
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
}

.plan .feature-text{
    font-size: 14px;
    width: 97%;
    color: #6f6f6f;
    display: flex;
    justify-content: flex-start;
}

.plan .feature svg{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    margin-right: 10px;
    color: #930fff;
}

.plan button{
    height: 33px;
    padding: 0px 12px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    background: #930fff;
}

/* remove classess */

.plans .plan.remove{
    transform: translateY(-30px);
    opacity: 0;
}

.plan .price-og{
    display: flex;
    color: #a8a8a8;
    text-decoration: line-through
}

.plan .price-og .digit{
    color: #a8a8a8;
}