.footer{
    width: 100vw;
    height: 80px;
    background: #fff;
    border-top: 1px solid #c9c9c9;
    z-index: 1;
    color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    pointer-events: all;
}

.footer.black{
    background: #000;
    color: #fff;
}

.footer .copyright{
    display: flex;
    align-items: center ;
}

.footer .copyright svg{
    margin-right: 10px;
}

.footer a{
    margin-left: 5px;
    color: #8B00FF;
}

@media screen and (max-width: 500px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer p{
        text-align: center;
    }
}

@media screen and (max-width: 330px) {
    .footer{
      height: 90px;
    }

}