.hero-section{
    width: 100%;
    min-height: 100vh;
    height: auto;
    /* height: auto; */
    position: fixed;
}

.hero-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .3s ease;
    background-image: linear-gradient(90deg, #000 35%, rgb(0, 0, 0, .5));
} 

.hero-section .hero-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* background-image: url('https://raw.githubusercontent.com/omagaowi/nivanfx.com/ce022aa2dc759265cf3f1f63d468348a755e7744/src/assets/heroimage2.png'); */
    background-image: url('/heroimage2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.hero-section h1{
    color: #fff;
    /* background: red; */
    /* font-size: 63px; */
    transition: all .3s ease;
    font-size: clamp(50px, 4.9vw, 63px);
}

.hero-main{
    max-width: 500px;
    width: 85vw;
    height: auto;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 10%;
}

.hero-text{
    display: flex;
    flex-direction: column;
}

.hero-section .buttons{
    width: 100%;
    height: auto;
    transition: all .3s ease;
    margin-top: 20px;
}


.hero-section .buttons button{
    padding: 0px 10px;
    margin: 0px 7px;
    height: 35px;
    background: transparent;
    color: #fff;
    border: 3px solid #8B00FF;
    border-radius: 7px;
    transition: all .3s;
}

.hero-section .buttons button a{
    color: #fff;
    text-decoration: none;
}

.hero-section .buttons button:hover{
    background: #8B00FF;
    cursor: pointer;
}

/* remove classess */
.hero-text h1.remove{
    transform: translateX(-50px);
    opacity: 0;
}

.hero-main .buttons.remove{
    transform: translateY(-50px);
    opacity: 0;
}

.hero-content.remove{
    background: #000;
}

@media screen and (max-width: 630px) {
    .hero-main{
        left: 5%;
    }
}
@media screen and (max-width: 493px) {
    .hero-image{
        /* background-image: url('https://raw.githubusercontent.com/omagaowi/nivanfx.com/ce022aa2dc759265cf3f1f63d468348a755e7744/src/assets/heroImageMobile.png'); */
        background-image: url('/heroImageMobile.png');
    }
}

@media screen and (max-width: 399px) {
    .hero-section h1{
        text-align: center;
        font-size: clamp(50px, 7vw, 50px);
    }
    .hero-text{
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 96%;
    }
    .hero-main{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        left: 0;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buttons{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
}


@media screen and (max-width: 340px) {
    .hero-main{
        width: initial;
        width: 100vw;
    }
}